:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--bs-body-color);
}

footer {
  margin-top: 60px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  align-items: center;
}

footer .email-link {
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.hero {
  text-align: center;
  padding: 150px 0;
}

.primary-link {
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 15px;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.primary-link,
.primary-link:hover {
  color: var(--secondary-color);
}

.content-container {
  padding: 150px 0 0;
}

.content {
  margin: 12px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.contact-icon {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  .content-container {
    text-align: center;
    padding-top: 60px 0;
  }
}

@media (max-width: 576px) {
  h1,
  .content h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }

  .app-link {
    width: 100%;
  }
}
